/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
    /* height: 80%; */
    min-height: 100px;
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #404040;
}

#flex-height {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

#map {
    flex-grow: 1;
}

#logo {
    max-height: 40px;
    max-width: 40px;
    aspect-ratio: 1 / 1;
}

h1 {
    font-family: "SF Pro Display", -apple-system, "system-ui", Inter;
    font-weight: 900;
    font-size: clamp(1rem, calc(1rem + 2vw), 30px);
}

a {
    color: #3e4a9a;
}

.nav-tabs .nav-link {
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #404040
}

.nav-tabs .nav-link:hover {
    background-color: #eee;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
    box-shadow: inset 0 -2px 0 #3E4A9A;
    color: #3E4A9A;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#legend {
    font-size: 10px;
    width: 200px;
    padding: 5px;
    background: white;
    border: 1px solid #404040;
    color: #404040;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    opacity: 0;
}

.animate-fade-in {
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1s;
}

#color-scale {
    width: 100%;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

#legend .row {
    margin-top: 2px;
}

.legend-scale-text {
    width: auto;
    padding: 0px 4px;
    text-align: center;
}



/* Autocomplete */

/*the container must be positioned relative:*/

#autocomplete-container {
    background-color: #f1f1f1;
}

.autocomplete {
    position: relative;
    display: block;
    width: 100%;
}

#addressSearchBox {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    background-color: #f1f1f1;
    width: 100%;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}


/*when hovering an item:*/

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}


/*when navigating through the items using the arrow keys:*/

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}


#addressSearchBox,
#addressSearchBox:focus {
    border: none;
    outline: none;
}


/* End autocompelte */

#property-details-drawer>div:nth-child(1)>dl {
    margin-bottom: 0px;
}