/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
    /* height: 80%; */
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 50px;
}

#flex-height {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

#map {
    flex-grow: 1;
}