/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
    /* height: 80%; */
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #404040;
}

#flex-height {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

#map {
    flex-grow: 1;
}

#logo {
    max-height: 50px;
    max-width: 50px;
    aspect-ratio: 1 / 1;
}

h1 {
    font-family: "SF Pro Display", -apple-system, "system-ui", Inter;
    font-weight: 900;
    font-size: clamp(1rem, calc(1rem + 2vw), 30px);
}